.header__container{
    background-color: #2457F0;
    width: 100vw;
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
}

.navigation_bar{
    display: flex;
    padding-left: 10px;
}

.navigation_bar__page_setter{
    display: flex;
    padding: 10px;
    height: 80px;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}
.navigation_bar__page_setter p,.navigation_bar__page_setter__active p{
    font-weight: 600;
    font-size: 18px;
    flex-wrap: wrap;
    display: flex;
}

.navigation_bar__page_setter__active{
    display: flex;
    background-color: #214fda;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


.authorized_user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    gap:10px
}

.authorization{
    display: flex;
}

.authorization button{
    background-color: #2457F0;
    padding: 8px;
    color: #fafafa;
    border-radius: 10px
}

.authorization__login_button{
    border: 1px solid #fafafa;
}

@media (max-width: 400px) {
    .navigation_bar__page_setter p,.navigation_bar__page_setter__active p{
        font-weight: 500;
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .navigation_bar__page_setter p,.navigation_bar__page_setter__active p{
        font-weight: 600;
        font-size: 14px;
    }
    .authorized_user{
        scale: 0.90;
    }
    .header__container{
        padding: 0;
    }
    .navigation_bar{
        padding-left: 0
    }
    .navigation_bar__page_setter, .navigation_bar__page_setter__active{
        padding-right: 0;
    }

    .authorization{
        display: flex;
        width: 65%;
        justify-items: center;
        align-items: center;
    }
    .authorization button{
        scale: 0.9;
    }
}

@media (max-width: 650px){
    .navigation_bar__page_setter p,.navigation_bar__page_setter__active p{
        font-weight: 600;
        font-size: 16px;
        padding-right: 15px;
    }


    .authorization{
        width: 75%;

    }
}