.singUp__form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 50px;
    margin-top: 70px;
    border: 1px solid lightgray;
    border-radius: 35px;
    align-items: center;
    padding-bottom: 10px;
}

.singUp__form input{
    font-weight: 300;
}

.singUp__form input::placeholder{
    font-size: 20px;
    justify-content: center;
}

.singUp__form h1{
    color: #0c141b;
    font-weight: 500;
    font-size: 35px;
    overflow: hidden;
}

.singUp__form button{
    margin-top: 10px;
    color: #0c141b;
    font-size: 23px;
    transition: all 0.4s ease-in-out;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border: 1px solid lightgray
}

.singUp__form button:hover{
    background-color: #2457F0;
    color: #fafafa
}

@media (max-width: 400px) {
    .singUp__form{
        padding: 45px;
    }
}

@media (max-width: 500px) {
    .singUp__form{
        scale: 0.90;
    }

    .singUp__form input{
        scale: 1.2;
    }
    .singUp__form button{
        margin-top: 100px;
    }
}